form{
    background-color: aquamarine;
    max-width: 200px;
    margin: 50px auto;
    padding:  20px;
    border-radius: 4px;

}
label{
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    color: red;
}

button{
    padding: 1px;
    margin-top: 10px;

}