body {
    font-family: Arial, sans-serif;
    background-color: #fe8181;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #886fed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#display {
    font-size: 2em;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ea1d1d;
    color: white;
}
#lapTimes {
    margin-top: 20px;
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
    
}


@media (max-width: 600px) {
    #display {
        font-size: 1.5em;
    }
    button {
        width: 100%;
        margin: 10px 0;
    }
}
